@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: lightgray;
}
header{
    background-color: rgb(151, 148, 148);
}
header>h1{
     text-align: center;
     padding: 10px;
}
#burguer{
    background-color: rgb(43, 43, 43);
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}
#burguer:hover{
    background-color: #ffffff;
    color: #000000;
    
}
menu {
    display: none;
}
menu >ul{
    list-style-type: none;
}
menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(83, 82, 82);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}
menu a:hover{
    background-color: gray;
}
main{
    display: block;
    background-color: #ffffff;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article>h2{
    padding-bottom: 20px;
}
article>p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;/*paragrafo*/
}

