@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/Users/Silas/Desktop/estudo/css/desafio/coisasqueeupreciso/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
body{
    background-color: var(--cor0);
    font-family: var(--fontp-padrao);
}

:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fontp-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --font-destaque: 'Bebas Neue', Sans-Serif; 
    --font-android:'android',verdana;
}
*{
    margin: 0px;
    padding: 0px;
    
}

header{
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    
}
header>p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-shadow: 2.5px 2.5px 0px rgba(0, 0, 0, 0.486);

}
header h1{
   color: white;
   font-family: var(--font-destaque);
   font-size: 3em;
   margin-bottom: 20px;
   text-shadow: 2.5px 2.5px 0px rgba(0, 0, 0, 0.486);

}
nav{
    
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.336);   
}
nav>a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}
main{
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.443);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
main h1{
    color: var(--cor5);
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
main  p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;


}
main strong{
    color: var(--cor4);
    font-weight: bold;
    
   
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px; 
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;

}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    width: 100%; /* Ocupa 100% da largura do contêiner pai */
    padding-bottom: 56.25%; /* Proporção 16:9 (altura/largura * 100) */
    height: 0; /* Necessário para o truque de proporção */
    overflow: hidden;

}
div.video> iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;


}
a.externo::after{
    content: '\1F517';
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;

}
aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside>ul{
    list-style-position: inside;
    columns: 2;
    padding: 5px;
    list-style-type: '\2714\00A0\00A0' ;/*2714 codigo de emoji e 00A0 é espacamento;*/

}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}
footer>p>a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
